{% load static %}
<!DOCTYPE html>
<html class="h-100">
<head>
    <title>{% block title %}{% endblock %}</title>
        {% load static %}
{#        <link rel="stylesheet" href="{% static 'css/uikit.min.css' %}"/>#}
{#        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>#}
    <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/extra.css'%}">
        <link href="{% static 'img/sail_logo.png' %}" rel="shortcut icon" type="image/png">
    {% block extrastyles %}{% endblock %}

    <!-- UIkit JS -->
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>#}
    <!-- jQuery JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- icons library -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<style >
a {
    color:teal;
}
body {
 padding-top:50px;
}
.panel-body .btn:not(.btn-block) {
 width:120px;margin-bottom:5px;
}
.btn-custom
{
background-color: #3aafa9;
color:#FFF;
border-color: #3aafa9;
}
.nav-link {
color: rgba(255, 255, 255, 0.99);
}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-custom.active, .open .dropdown-toggle.btn-custom {
background-color: #21E0EE;
color:#FFF;
border-color: #21E0EE;
}
</style>
<body class="d-flex flex-column h-100" style="font-family: 'Nunito', sans-serif;">
    {% if logged_in %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark py-0">
            <a class="navbar-brand" href="{% url 'home' %}" style="font-size:x-large">
                <img height="40" src="{% static 'img/sail_logo.png' %}"> SAIL Yearbook
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavbar">
                <form class="form-inline my-2 my-lg-0 mx-auto" method="get" action="{% url 'search' %}">
                    <div class="input-group">
                        <input style="font-family: 'Nunito', sans-serif;" class="form-control" name="key" placeholder="Search for friends" autocomplete="off">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a style="color: #FFF;" class="nav-link" href="{% url 'write_testimonial' %}">Write Testimonials</a>
                    </li>

                    <li class="nav-item">
                        <a style="color: #FFF;" class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #FFF;" class="nav-link" href="{% url 'profile' user.username %}">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a style="color: #FFF;" class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!--div-- class="container-fluid">
                    <div class="col-md-12 col-lg-12">
                        <div class="card card-primary" style=" background: rgba(0,0,0,0);">
                            <div class="card-body" style="padding: 5px;">

                                        <div class="row">
                                        <div class="col-sm-12  col-md-4 col-lg-4">
                                        <a href="{% url 'polls' %}" class="btn btn-lg btn-block btn-dark" role="button"><span style="color: #3aafa9;"class="fa fa-bar-chart" aria-hidden="true"> </span>&nbsp;View Polls</a>
                                      </div>
                                      <div class="col-sm-12  col-md-4 col-lg-4">
                                      <a href="{% url 'write_testimonial' %}" class="btn btn-dark btn-lg btn-block" role="button"><span style="color: #3aafa9;" class="fa fa-pencil" aria-hidden="true"></span> Write Testimonials </a>
                                      </div>
                                      <div class="col-sm-12  col-md-4 col-lg-4">
                                      <a href="{% url 'memories' %}" class="btn btn-dark btn-lg btn-block" role="button"><span style="color: #3aafa9;" class="fa fa-camera" aria-hidden="true"></span style="color: #3aafa9;">&nbsp;See Memories</a>
                                        </div>
                                        </div>


                            </div>
                        </div>
                    </div>
            </div-->
    {% else %}
        <nav class="navbar-nav fixed-top navbar-expand-lg navbar-dark bg-dark py-0">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img height="40" src="{% static 'img/sail_logo.png' %}"> SAIL Yearbook
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainNavbar">
                <form class="form-inline my-2 my-lg-0 mr-auto" method="get" action="{% url 'search' %}">
                    <div class="input-group">
                        <input class="form-control" name="key" placeholder="Search for friends" autocomplete="off">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endif %}
    <main class="flex-shrink-0 mt-5">
        {% block content %}{% endblock %}
    </main>
    <footer class="footer mt-auto py-1 bg-dark" >
        <div class="container-fluid">

            <span class="text-muted float-right"><a  style="color:teal;" href="{% url 'team' %}">Developed by</a></span>
        </div>
    </footer>
    {% block extrascripts %}{% endblock %}
</body>
</html>
