{% extends 'base.html' %}

{% block title %} Home | SAIL Year Book Portal {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% if user_profile.graduating %}
                <div class="col-xl-5 col-lg-12 mx-xl-auto">
                    <h3 class="text-center" style="font-weight:bold;">Testimonials</h3>
                    <div class="container-fluid">
                        {% for testimonial in testimonials %}
                            <div class="card shadow my-2 mx-lg-3" id="testimonial-{{ testimonial.id }}">
                                <div class="card-body">
                                    <p class="card-text text-justify">{{ testimonial.content | linebreaksbr }}</p>
                                    <p class="float-left my-0">
                                        <button class="btn btn-dark" onclick="deleteTestimonial({{ testimonial.id }})" data-toggle="tooltip" title="Delete the testimonial from your profile.">
                                            <i class="fas fa-trash" style="color: #3aafa9;"></i></button>
                                    </p>
                                    <p class="float-right my-0">
                                        <a href="{% url 'profile' testimonial.given_by.user.username %}">
                                            ~ {{ testimonial.given_by.full_name }}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            {% else %}
                <div class="col-xl-3"></div>
                <div class="col-xl-6">
                    <h2 class="text-center">Search for the graduating batch students, above to give testimonials.</h2>
                </div>
                <div class="col-xl-3"></div>
            {% endif %}
    </div>
    </div>
{% endblock %}

{% block extrastyles %}

{% endblock %}

{% block extrascripts %}
    <script>
        function deleteTestimonial(testimonial_id) {
            if (confirm("Do you want to delete the testimonial ?!\n It can't be recovered once deleted.")) {
                $.ajax({
                    type: "POST",
                    url: '{% url "delete_testimonial" %}',
                    data: {
                        'testimonial_id': testimonial_id,
                        'csrfmiddlewaretoken': Cookies.get("csrftoken")
                    },
                    success: function (data) {
                        if (data.status === 1) {
                            $("#testimonial-" + testimonial_id.toString()).remove();
                            alert(data.message);
                        } else {
                            alert(data.error);
                        }
                    }
                });
            }
        }
    </script>
{% endblock %}