{% extends 'base.html' %}

{% block title %} {{ profile.full_name }} | SAIL Year Book Portal {% endblock %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        <div class="row mt-4">
            {% if profile.graduating %}
                <div class="col-lg-3 col-md-12">
                    <div class="container">
                        <div class="card shadow">
                            <img class="card-img-top" width="100%" src="{{ memories.image.url }}" alt="Profile Picture"/>
                            <div class="card-body">
                                <h5 class="card-title"><b>{{ profile.full_name }}</b></h5>
                                <h6 class="card-subtitle">
                                    {{ profile.get_department_display }}
                                    <br>
                                    {{ profile.get_program_display }}
                                    <br>
                                    20{{ profile.rollno | stringformat:"i" | slice:":2" }}
                                </h6>
                                <br>
                                <div class="card-text">
                                    <h6><b>Webmail</b></h6>
                                    <p><a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></p>
                                    <h6><b>Bio</b></h6>
                                    <p>{{ profile.bio }}</p>
                                </div>
                            </div>
                            {% if myprofile %}
                                <a class="btn btn-primary" style="border-top-right-radius: 0;border-top-left-radius: 0" href="{% url 'edit_profile' %}">Edit Profile</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-4"></div>
                <div class="col-lg-4 col-md-12">
                    <div class="container">
                        <div class="card shadow">
                            <img class="card-img-top" width="100%" src="{{ profile.profile_pic.url }}" alt="Profile Picture"/>
                            <div class="card-body">
                                <h5 class="card-title"><b>{{ profile.full_name }}</b></h5>
                                <h6 class="card-subtitle">
                                    {{ profile.get_department_display }}
                                    <br>
                                    {{ profile.get_program_display }}
                                    <br>
                                    20{{ profile.rollno | stringformat:"i" | slice:":2" }}
                                </h6>
                                <br>
                                <div class="card-text">
                                    <h6><b>Webmail</b></h6>
                                    <p><a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></p>
                                    <h6><b>Alternate Mail</b></h6>
                                    <p><a href="mailto:{{ profile.alt_email }}">{{ profile.alt_email }}</a></p>
                                    <h6><b>Alternate Mail</b></h6>
                                    <p>{{ profile.phone }}</p>
                                    <h6><b>Bio</b></h6>
                                    <p>{{ profile.bio }}</p>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extrascripts %}
    <script>
        function favouriteTestimonial(testimonial_id){
            $.ajax({
                type: "POST",
                url: '{% url "favourite_testimonial" %}',
                data: {
                    'testimonial_id': testimonial_id,
                    'csrfmiddlewaretoken': Cookies.get("csrftoken")
                },
                success: function (data) {
                    if (data.status === 1){
                        location.reload();
                    }
                    else{
                        alert(data.error);
                    }
                }
            });

        }
        function deleteTestimonial(testimonial_id){
            if (confirm("Do you want to delete the testimonial ?!")) {
                $.ajax({
                    type: "POST",
                    url: '{% url "delete_testimonial" %}',
                    data: {
                        'testimonial_id': testimonial_id,
                        'csrfmiddlewaretoken': Cookies.get("csrftoken")
                    },
                    success: function (data) {
                        if (data.status === 1){
                            $("#testimonial-"+testimonial_id.toString()).remove();
                            alert(data.message);
                            location.reload();
                        }
                        else{
                            alert(data.error);
                        }
                    }
                });
            }

        }
        function addTestimonial() {
            $.ajax({
                type: "POST",
                url: '{% url 'add_testimonial' profile.user.username %}',
                data: {
                    'content': $("#add-testimonial-form-content").val(),
                    'csrfmiddlewaretoken': Cookies.get("csrftoken")
                },
                success: function (data) {
                    if (data.status === 1){
                        location.reload();
                    }
                    else{
                        alert(data.error);
                    }
                }
            });
        }
        function changeAnswer(question_id) {
            $.ajax({
                type: "POST",
                url: '{% url 'change_answer' profile.user.username %}',
                data: {
                    'question_id': question_id,
                    'answer': $("#profile-answer-"+question_id.toString()).val(),
                    'csrfmiddlewaretoken': Cookies.get("csrftoken")
                },
                success: function (data) {
                    if (data.status === 1){
                        location.reload();
                    }
                    else{
                        alert(data.error);
                    }
                }
            });
        }
    </script>
{% endblock %}