wheel==0.36.2
asn1crypto==0.24.0
certifi==2019.9.11
cffi==1.14.5
chardet==3.0.4
cryptography==3.4.6
defusedxml==0.6.0
Django==2.2.13
idna==2.8
oauthlib==3.1.0
Pillow==9.3.0
psycopg2==2.8.6
psycopg2-binary==2.8.6
pycparser==2.19
PyJWT==1.7.1
python3-openid==3.1.0
pytz==2019.2
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
sqlparse==0.3.0
urllib3==1.25.3
