{% extends 'base.html' %}

{% block title %} Home | SAIL Year Book Portal {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row mx-lg-5 mt-4">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <h3 class="text-center">Polls</h3>
                <div class="container">
                    {% for question, poll in polls.items %}
                        <div class="card my-2 mx-lg-3">
                            <div class="card-header">
                                <h5 class="mb-0">{{ question.0.question }}</h5>
                            </div>
                            <div class="card-body">
                                {% for votes in poll %}
                                    <div class="row my-2">
                                        <div class="col-8">
                                            <div class="progress">
                                              <div class="progress-bar poll" role="progressbar" style="width: 0" votes="{{ votes.1 | length}}" totalvotes="{{ question.1 }}"><a class="text-light nav-link" href="#" data-toggle="modal" data-target="#votes-modal-{{ question.0.id }}-{{ votes.0.id }}">{{ votes.1 | length }} votes</a></div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <a class="badge badge-primary align-top" href="{% url 'profile' votes.0.user.username %}">{{ votes.0.full_name | truncatechars:20 }}</a>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="votes-modal-{{ question.0.id }}-{{ votes.0.id }}" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h6 class="modal-title">Votes for <a href="{% url 'profile' votes.0.user.username %}">{{ votes.0.full_name }}</a> in Poll : {{ question.0.question }}</h6>
                                                    <button type="button" class="close" data-dismiss="modal">
                                                        <span>&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="d-flex flex-row flex-wrap">
                                                        {% for vote in votes.1 %}
                                                            <a class="btn btn-primary my-1 mx-1" href="{% url 'profile' vote.user.username %}">{{ vote.full_name }}</a>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
{% endblock %}

{% block extrastyles %}

{% endblock %}

{% block extrascripts %}
    <script>
        $(document).ready(
            function() {
                $(".poll").each(
                    function () {
                        var ratio = parseInt($(this).attr("votes")) / parseInt($(this).attr("totalvotes"));
                        var percentage = parseInt(ratio * 100);
                        $(this).css("width", percentage.toString() + "%");
                    });
            });
    </script>
{% endblock %}