{% extends 'base.html' %}

{% block title %} Home | SAIL Year Book Portal {% endblock %}

{% block content %}
{% load static %}
  <!-- <div class="container-fluid" style="background-color:rgb(229,224,204);">
      <div class="row">
         <div class="col-md-6">
            <div style="margin:50px auto;width:60%;height:auto;overflow:hidden;">
               <img src="{{ user_profile.profile_pic.url }}" width="100%" style="border:3px solid teal;border-radius:50%;"/>
            </div>
         </div>
         <div class="col-md-6">
            <div style="margin:auto;width:75%;">
               <img src="{% static 'img/year.png' %}" height="550px" style="float:right;margin-right:100px;"/>
            </div>
         </div>
      </div>
   </div>-->
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title> Professionals Resume HTML Bootstrap Template | Smarteyeapps.com</title>
  
      <link rel="shortcut icon" href=" {% static 'assets/images/fav.jpg' %}">
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/fontawsom-all.min.css'%}">
      <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}" />
  </head>
  
  <body>
      <div class="container-fluid overcover">
          <div class="container profile-box">
              <div class="top-cover">
                  <div class="covwe-inn">
                      <div class="row no-margin">
                          <div class="col-md-3 img-c">
                              <img  src= "{% static 'assets/images/profile.jpg' %}" alt="">
                          </div>
                          <div class="col-md-9 tit-det">
                              
                              
                          </div>
                      </div>
                  </div>
              </div> 
{% endblock %}